/* .contact-content {
    height: 100vh;
    background-color: rgb(211, 243, 243);
    margin-top: 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
} */

 .contact-content::after {
    content: "";
    /* background-image: url(../img/19.jpg); */
     position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: .45;
    border-radius: 12px;
    z-index: -1;
} 





@media (max-width: 1030) {
    /* nav .navigation img {
        display: block;
        align-items: center;
        justify-content: center;
    } */
    .nav-left {
        /* display: block;
        align-items: center;
        justify-content: center; */
        margin-right: 40%;
        /* flex-direction: column; */
    }
}






